.board {
  margin: 1em;
  width: 360px;
  height: 360px;
  display: grid;
  grid-template-columns: 1fr repeat(8, 2fr) 1fr;
  grid-template-rows: 1fr repeat(8, 2fr) 1fr;
}

.gutter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell_dark {
  background: #527742;
}
.cell_odd {
  background: #ab7b59;
}
.cell_even {
  background: #e0c5a6;
}
.cell_selected {
  background-color: yellow;
}
