.board {
  margin: 1em;
  display: grid;
  grid-template-columns: 20px repeat(8, 40px) 20px;
  grid-template-rows: 20px repeat(8, 40px) 20px;
}

.gutter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell_dark {
  background: #527742;
}
.cell_odd {
  background: #ab7b59;
}
.cell_even {
  background: #e0c5a6;
}
.cell_selected {
  background-color: yellow;
}
